@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Headline:wght@200..700&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";

@theme{
    --font-Montserrat : "Montserrat", "sans-serif";
}

body{
    font-family: "Montserrat";
}